.glowShadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  animation: glow 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.glowShadow.up {
  box-shadow: 0px 0px 10px 5px green;
  opacity: 1;
}

.glowShadow.down {
  box-shadow: 0px 0px 10px 5px red;
  opacity: 1;
}

@keyframes glow {
  10%,
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
